#navbar{
    padding: 0.5rem 15rem;
        background-color: #ffff;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
       margin-bottom: 1.2rem;
       .navbar-text{
         font-size: 1.4rem;
         color: #000000;
         font-weight: 500;
       }
}